rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Правила для кэша каналов
    match /channels/{channelId} {
      allow read, write: if request.auth != null;
    }
    
    // Правила для пользователей
    match /users/{userId} {
      allow read, write: if request.auth != null && (request.auth.uid == userId || request.auth.token.email == 'pavelnen@gmail.com');
      
      // Brands subcollection
      match /brands/{brandId} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || request.auth.token.email == 'pavelnen@gmail.com');
      }
      
      // Posts subcollection
      match /posts/{postId} {
        allow read, write: if request.auth != null && (request.auth.uid == userId || request.auth.token.email == 'pavelnen@gmail.com');
      }
    }
    
    // По умолчанию запрещаем всё остальное
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
